networks:
  app-network:
    driver: bridge

services:
  nginx:
    image: nginx:1.25-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/public
      - ./_docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf:15
    depends_on:
      - app
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: _docker/app/Dockerfile
    volumes:
      - .:/var/www
    depends_on:
       - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

volumes:
  dbdata:
